@import url("./styles/font.css");
@import url("./styles/icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 600;
  font-size: 24px;
}
body {
  font-family: "Prompt", system-ui, sans-serif;
  font-size: 1rem;

  width: 100dvw;
  height: 100dvh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: white;
  background-color: black;
}
